<h1><%= current_user.username %></h1>

<!-- want this to just display the meals for the user for the current day -->
<h3>Meals</h3>
<ul>
  <% @meals.each do |meal| %>
    <li>
      <%= link_to "#{meal.time.strftime('%A, %b %d, %l:%M %p')} || #{meal.calories} calories", meal_path(meal) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Create a New Meal", new_meal_path %>
</p>
