<%= content_tag :h1, current_user.username %>

<!-- want this to just display the meals for the user for the current day -->
<h3>Meals</h3>

<%= render 'meals/meals_list', meals: @meals %>

<%= content_tag :p do %>
  <%= link_to "Create a New Meal", new_meal_path %>
<% end %>
