<h1> Update time of the meal </h1>

<%= form_for(@meal) do |f| %>
  <%= f.datetime_select :time %>
  <%= f.submit "Update Meal Time" %>
<% end %>
<!--link to destroy meal-->
<%= button_to "Delete Meal", meal_path(@meal), method: :delete, form_class: "delete-meal", data: {confirm: "Are you sure you want to remove this meal?"} %>
