<h1> List all the meals for <%= current_user.username %> </h1>

<% @meals.each do |meal| %>
  <%= content_tag(:div, meal_time(meal)) %>
  <%= content_tag :p do %>
    <%= meal.calories %> calories 
  <% end %>
<% end %>
