<h1> All Meals </h1>

<h3> Meals </h3>
<%= render 'meals_list', meals: @all_meals %>

<script type="text/javascript" charset="utf-8">
  console.log('hello on user profile.');

  $(document).on('turbolinks:load', function() {
    console.log('in turbolinks load');

  })
</script>
