<h1> Index of all the Foods That Are In The Meal with their caloric count listed side by side </h1>

<!-- a nested view -->
<% @meal.foods.each do |food| %>
  <div>
    <ul>
      <li>
        <%= food.name %>
        <ul>
          <li>
            <%= link_to "#{food.calories} calories", food_path(food) %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
<% end %>
