<h1><%= @food.name %></h1>
<h3>Total Calories:<%= @food.calories %></h3>

<h5> Macronutrient Composition </h5>
<ul>
  <% @food.macronutrients.each do |macronutrient| %>
    <li>
      <%= "#{macronutrient.category}: #{macronutrient.grams(@food)} grams accounting for: #{macronutrient.calories(@food)} calories" %>
    </li>
  <% end %>
</ul>
