<!--should this view be nested?? I don't think so-->
<h1><%= @food.name %></h1>
<h3>Total Calories: <%= @food.calories %></h3>

<h5> Macronutrient Composition </h5>

<table class="pure-table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Grams</th>
            <th>Percentage of Calories</th>
        </tr>
    </thead>
    <tbody>
      <%= render '/meals/macronutrients_table', macronutrients: @food.macronutrients, item: @food %>
    </tbody>
</table>

<footer>
  <%= link_to "update food", edit_food_path(@food) %>
</footer>
