
<form id="new-food-form" onsubmit="handleSubmit();">
  <input type="text" name="name" id="name" placeholder="food name"><br>
  <label for="macronutrients">Macronutrients(in grams)</label><br>
  Carbohydrates:<input type="number" name="carbohydrate-grams" id="carbohydrate-grams" value=0><br>
  Proteins:<input type="number" name="protein-grams" id="protein-grams" value=0><br>
  Fats:<input type="number" name="fat-grams" id="fat-grams" value=0><br>
  <input type="submit" value="create food">
</form>
