
<form id="new-food-form" action="/" data="{{mealId}}">
  <input type="text" name="food[name]" id="name" placeholder="food name"><br>
  <label for="macronutrients">Macronutrients(in grams)</label><br>
  <input type="hidden" name="food[macronutrients_grams][][id]" value="1">
  Carbohydrates:<input type="text" name="food[macronutrients_grams][][grams]" id="carbohydrate-grams" value='0'><br>
  <input type="hidden" name="food[macronutrients_grams][][id]" value="2">
  Proteins:<input type="text" name="food[macronutrients_grams][][grams]" id="protein-grams" value='0'><br>
  <input type="hidden" name="food[macronutrients_grams][][id]" value="3">
  Fats:<input type="text" name="food[macronutrients_grams][][grams]" id="fat-grams" value='0'><br>
  Servings:<input type="text" name="food_servings" id="food_servings"><br>
  <input type="submit" value="create food">
</form>
